<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
    <link rel="stylesheet" type = "text/css" href = "/searchResult.css">
</head>
<body>
    <table>
        <tr>
            <th>Bay Id</th>
            <th>Status</th>
            <th>lat</th>
            <th>lon</th>
            <th>link</th>
        </tr>
        {{#each parking}}

            <tr>
                <td>{{bayid}}</td>
                <td>{{status}}</td>
                <td>{{lat}}</td>
                <td>{{lon}}</td>
                <td><a href="www.google.com/search?q={{bayid}}">www.google.com/search?q={{bayid}}</a></td>
            </tr>

        {{else}}
            <p>no available parking</p>
        {{/each}}


    </table>
</body>
</html>